body{
    background-image: url(../src/assets/Weather.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: fadeIn 2s ease-in-out;
}